* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  padding: 0;
  z-index: 100;
}

.nav-style {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  border: 1px solid #000;
}

.navbar-toggler {
  background-color: white;
}

.logo:hover,
.navbar-toggler:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* About Section */

#about {
  height: 100vh;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  overflow-y: auto;
  border-bottom: #000 1px solid;
}

/* Projects Page & Card */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 400px; /* Fixed width for the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the button is at the bottom */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;

  text-align: center;
  z-index: 1;
}

.project-card:hover {
  transform: scale(1.05);
  z-index: 2;
  transition: transform 0.2s;
}

.project-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.project-card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #333;
}

.project-card-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 16px;
  flex-grow: 1;
}

.project-card-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.project-card-link:hover {
  background-color: #0056b3;
}

.project-card-buttons {
  display: flex;
  justify-content: space-evenly;
}
