* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  display: block;
  padding: 0;
}

.nav-style {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  border: 1px solid #000;
}

.navbar-toggler {
  background-color: white;
}

.logo:hover,
.navbar-toggler:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  overflow-y: auto;
}
